* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html {
    min-height: 100vh;
}

header {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: #1F2937;
   border: 0;
   margin: 0;
   padding: 20px;   
}

header nav {
    display: flex;
    gap: 550px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    padding-top: 60px;
    gap: 15px;
}

.box1 {
    width: 364.7px;
    height: 259.7px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    border-color: #F9FAF8;
    border: 1px solid #F9FAF8;
    white-space: nowrap;
}

.links {
    display: flex;
    gap: 15px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text, a {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    padding-bottom: 10px;
}

.secondary-text-2 {
    font-size: 18px;
    color: #1F2937;
    display: flex;
    padding-bottom: 10px;
}  


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.information {
    margin: 0;
    padding: 20px 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    max-width: 1570px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.photos {  
    display: flex;
    gap: 50px;
}

.information-main-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


img {
    border: 3px solid blue;
}

.quote {
background-color: #E5E7EB;
font-size: 26px;
color: #1F2937;
font-style: italic;
padding: 100px;
display: flex;
flex-direction: column;
gap: 30px;

}

.quote p {
font-size: 18px;
font-style: normal;
font-weight: bold;
display: flex;
justify-content: right;
}

.box-down {
    margin: 100px auto;
    padding: 30px;
    max-width: 1200px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.text-sign-up {
    font-size: 16px;
}

.text-sign-up p {
font-size: 22px;
font-style: normal;
font-weight: bold;
margin: 0 0 6px 0;
}

.sign-up {
    padding: 50px 130px;
    border-radius: 8px;
    display: flex;
    gap: 60px;
    background-color: #3882F6;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 30px;
}

